<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://app-global.pgyer.com/56c8940ffb0712da9045689afe8d742d.ipa?attname=xunlei5.33.ipa&amp;sign=7d918ea7e1ebad7b86e93ba9e4b9aeff&amp;t=5c4d4834</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://sileo-cydia.github.io/CydiaIcon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://sileo-cydia.github.io/CydiaIcon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xunlei.iosthunder</string>
				<key>bundle-version</key>
				<string>5.31</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>迅雷</string>
				<key>title</key>
				<string>迅雷X5.33——他是个疯子</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
